.question-item {
  padding: 2mm;
  margin: 2mm;
  background: #eee;

  .grid {
    float: right;
  }

  &:after {
    content: "";
    display:table;
    clear: both;
  }

  &:hover {
    background: white;
    outline: white solid 1mm;
  }
}

.grid {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;

  .row {
    display: flex;
    display: -webkit-flex;
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }

  .item {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    width: 10px;
    box-shadow: 0 0 1px #333;
    margin: 0;
  }

  .guide {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    color: black;
    padding: 1mm;
    text-align: center;
  }

  .white {
    background-color: white;
  }

  .black {
    background-color: #888;
  }
}
